body{
	font-family: Roboto,Arial;
	font-size:10pt;
	color:#000000;
}
frame{
    border: 1px solid black;
    border-collapse: collapse;
}
.TDLitera
{
    background-color: #152A94;
    color: #fff;
    fill: #fff;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bold
}
.TableInfo
{
	border: 1px solid black;
    border-collapse: collapse;
}
.TableRelationInfo
{
	border: 0px solid black;
}
.TabNoActive
{
    background-color: #0A85FF;
    color: #fff;
    fill: #fff;
}
.TabActive
{
    background: #152A94;
    color: #fff;
    fill: #fff;
}
.Tab
{
    margin-bottom: 15px;
}
.TabInner
{
	border: 3px;
    border-style: solid;
    border-color: #152A94;
}
.TabOuter
{
    margin-bottom: 15px;
}
.P15px
{
    MARGIN-TOP: 5px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 15px;
    COLOR:navy;
}
.P5px
{
    MARGIN-TOP: 5px;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 5px;
}
.P20px
{
    MARGIN-TOP: 20px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
}
.TytulMidi
{
    COLOR: #ffff99;
    FONT-WEIGHT: bold
}
.Paragraf1
{
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 25px;
    MARGIN-TOP: 6px;
}
.Paragraf2
{
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 15px;
    MARGIN-RIGHT: 150px;
}
.TDRaisedVert
{
    BORDER-BOTTOM: #add8e6 2px groove;
    BORDER-TOP: #add8e6 2px groove;
}
.TDRaised
{
    BORDER-LEFT: #add8e6 2px solid;
    BORDER-RIGHT: #6699cc 2px groove;
    BORDER-BOTTOM: #6699cc 2px groove;
    BORDER-TOP: #add8e6 2px solid;
}

.TDTekstClassName
{
    COLOR: #000080;
    FONT-WEIGHT: bold
}
.TDTekstMethodName
{
    COLOR: #000080;
    FONT-SIZE: 8pt;
    CURSOR: hand
}
.TekstInfoMini
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 7pt;
    FONT-STYLE: italic;
}
.TDTekstLocationName
{
    BORDER-LEFT: #6699cc 1px groove;
    BORDER-RIGHT: #add8e6 1px solid;
    BORDER-BOTTOM: #add8e6 1px solid;
    BORDER-TOP: #6699cc 1px groove;
    COLOR: #ffffff;
    FONT-SIZE: 7pt;
}
.TDTekstGeneration
{
    BORDER-LEFT: #6699cc 1px groove;
    BORDER-RIGHT: #add8e6 1px solid;
    BORDER-BOTTOM: #add8e6 1px solid;
    BORDER-TOP: #6699cc 1px groove;
    COLOR: #ffffff;
    FONT-SIZE: 7pt;
    FONT-STYLE: italic;

}
.TekstNagMP
{
    COLOR: #000080;
    FONT-SIZE: 8pt;
    FONT-STYLE: italic;
}
.TekstDocStyle
{
    COLOR: #808080;
    FONT-SIZE: 8pt;
}
.TDTekstCDNDocTAG
{
    FONT-SIZE: 8pt;
}

.TekstTytulMaxi
{
    COLOR: #00008b;
    FONT-SIZE: 23pt;
    FONT-WEIGHT: bold
}
.TekstTytulMidi
{
    COLOR: #00008b;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold
}
.TekstNormal
{
}
.TekstBold
{
    FONT-WEIGHT: bold
}
.TekstItalic
{
    FONT-SIZE: 8pt;
    FONT-STYLE: italic
}
.TekstStatistic
{
    FONT-SIZE: 7pt;
}
.clsRef
{
    BORDER-RIGHT: #6699cc 2px groove;
    BORDER-TOP: #f0f0f0 2px solid;
    PADDING: 2 ;
    MARGIN: 0;
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #6699cc;
    COLOR: #FFFFFF;
    CURSOR: hand;
}
.clsFrame
{
    MARGIN-TOP: 0 ;
    MARGIN-BOTTOM: 0 ;
    MARGIN-LEFT: 5 ;
    MARGIN-RIGHT: 0 ;
    PADDING-BOTTOM: 1 ;
    PADDING-LEFT: 1 ;
    PADDING-RIGHT: 1 ;
    PADDING-TOP: 2 ;
    BACKGROUND-COLOR: #99ccff;
}
A:link
{
    color: #0A85FF;
    text-decoration: none;
}

A:visited
{
    color: #152A94;
    text-decoration: none;
}
A:hover
{
    COLOR: #ED4563;
    TEXT-DECORATION: none;
}
